.text_initial{
    /* um marginsó não pegou */
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.list{
    margin: 1.5rem;
    list-style:decimal;
}
.list li{
    color: var(--color-yellow-700);
    text-align: justify;
}